/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  
}

.navbar-brand .logo {
  max-height: 40px;
}

.navbar-links a {
  margin: 0 15px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #ff0000; /* Adjust to match the design color */
}
