{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="hero-section-about">
  <div class="hero-text-about">
      <h1>Miles of trust on every road.</h1>
      <p>We're committed to bridging the gap between reliability and the open road, ensuring that every journey begins with trust.</p>
  </div>
</div>
<div class="about-section">
  <h3>About Us</h3>
  <h2>Where Trust</h2>
  <h2>Meets the Road</h2>
  <p>KAPS CARS a private limited company established in the year 2010, is a top player of Second Hand Car Dealers in Kerala. This well-known establishment acts as a one-stop destination servicing customers within Kozhikode and other parts of Kerala. We also have businesses like Kaps Vehicle and Services which is a BOSCH authorized service center, Kaps motors a TATA commercial vehicle dealer, and we also have many distribution chains across Kerala.</p>
  <p>Kaps cars is a private limited company we are buys and sells cars. We find good cars from the market, work on them, clean them, all the documents are cleared and deliver quality vehicles to customers.</p>
  <p>Our service is all over Kerala and not only that, we also provide one year warranty, buyback guarantee and road assistants to the customer.</p>
</div>
<div class="statistics">
  <div class="stat">
      <h3>20+</h3>
      <p>Years of Experience</p>
  </div>
  <div class="stat">
      <h3>2000+</h3>
      <p>Satisfied Clients</p>
  </div>
  <div class="stat">
      <h3>20+</h3>
      <p>Vehicle Brands Available</p>
  </div>
  <div class="stat">
      <h3>50+</h3>
      <p>Employees in Family</p>
  </div>
</div>
{% include "footer.html" %}
{% endblock %}
